

body{
	margin: 0;
	font-family: 'Raleway';
}

                            /*HEADER*/
.container{
    padding: 0 40px 0 40px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    margin-top: 20px;
    max-width: 1440px;
}
.link-before{
    display: flex;
    width: 100%;
}
.headerNav{
    margin-top: 10px;
    display: flex;
}
.headerNavLink{
    margin-right: 50px;
}
.headerImg{
    width: 100px;
}
.headerNavLink{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
.headerNavLink[data-active=true]{
    position: relative;
}
.headerNavLink[data-active=true]::before{
    content: "";
    width: 150%;
    height: 3px;
    position: absolute;
    background: #0065FC;
    top: -34px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
}
.headerNavLink[data-active=true]:hover::before{
    opacity: 1;
}
.headerNavLink:hover{
    color: #0065FC;
}

.headerNavLink[data-active=false]{
    position: relative;
}
.headerNavLink[data-active=false]::before{
    content: "";
    width: 150%;
    height: 3px;
    position: absolute;
    background: #0065FC;
    top: -34px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
}
.headerNavLink[data-active=false]:hover::before{
    opacity: 1;
    color: #0065FC;
}

.headerSignup{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    margin-right: 50px;
}


                            /*Zone de recherche */
.container{
    padding: 0 40px 0 40px;
}
#search-div{
    margin: 0;
}
.search-header-title{
    margin-bottom: 0.5rem;
}
.search-header-subtitle{
    margin-top: 0;
}
#search-div .icon-maps{
    padding: 17px 18px 18px 20px;
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
}
.zone-saisie{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 15px;
    border-right: none;
    border-left: none;
    margin-left: -3px;
    border: none;
    font-size: 1rem;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    font-family: 'raleway';
    font-weight: bold;
}

.search-button{
    padding: 16px 15px 17px 15px;
    margin-left: -7px;
    border-radius: 0 0.7rem 0.7rem 0;
    border: none;
    background: #0065FC;
    color: white;
    font-size: 1rem;
}
@media screen and (min-width: 601px) {
    .fas.icon-search{
        display: none;
    }
}


                        /*FILTRES*/

.groupeFiltres{
    display: flex;
    margin-top: 2rem;
    font-weight: bold;
}
.search-filters{
    display: flex;
    flex-wrap: wrap;
}
.searchFilterTitle{
    margin:  0 2rem 1rem 0;
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
}
.groupeFiltres h2{
    font-size: 18px;
    padding-top: 1px;
}
.searchFilter{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #D9D9D9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.searchFilter:last-child{
    margin-right: 0;
}
.searchFilter:hover{
    background-color: #5b8dd8;
    transform: scale(1.015);
}
.Filters{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}
.IconFilters{
    color: #0065FC;
}


.searchResult{
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}
.searchResultIcon{
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
    min-width: 2rem;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.searchResultLogoIcon{
    color: #0065FC;
}
.searchResultText{
    margin: 0;
}

                    /*SECTION MIDDLE*/




.bloc-mid{          /*BLOC-MID*/
    display: flex;
}



                    /*LEFT-BOX*/
.header-bloc-mid{
    
    font-family: 'Raleway';
}
.left-box-grey{          
    background: #F2F2F2;
    border-radius: 20px;
    max-width: 60%;
    padding: 20px 30px;
}
.frame-left{          
    background: white;
    border-radius: 15px;
    width: 255px;
    height: 190px;
    box-sizing: border-box;
    padding: 5px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.288);
    margin-bottom: 40px;
}
.frame-left:hover{
    transform: scale(1.015);
}
.all-img-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img-left-box{
    width: 100%;
    max-width: 100%;
    height: 100px;
    max-height: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;  
}
.name-first-img-left{
    font-weight: bold;
    padding: 5px 0 0 10px;
    font-family: 'Raleway';
}
.price-left-img{
    margin: 0px;
    padding: 5px 0px 0px 10px;
    font-size: 14px;
}
strong{
    font-family: 'Raleway';
}
.img-left-link, .show-more-room{
    text-decoration: none;
    color: inherit;
}
.notation-img{
    padding: 5px 0 0 10px;
}
.star-icon[data-active=true]{
    color: #0065FC;
    font-size: 12px;
}
.star-icon[data-active=false]{
    color: #b3b3b3;
    font-size: 12px;
}

.show-more{
    padding: 0 0 20px 10px;
    font-family: 'Raleway';
}


                     /*RIGHT-BOX*/

.right-box{        
    background: #F2F2F2;
    border-radius: 20px;
    max-width: 40%;
    margin-left: auto;
    padding: 0 20px 0 20px;
}
.header-right-box{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 0 15px;
    font-family: 'Raleway';
}
.icon-popular{
    font-size: 25px;
    align-self: center;
}
.img-right-box{
    max-width: 100%;
    width: 160px;
    height: 140px;
    object-fit: cover;
    padding: 5px 0 0 5px;
    border-radius: 20px 0 0 20px;
}

.frame-right{
    display: flex;
    border-radius: 20px;
    margin: 10px 10px 25px 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.288);
}
.img-right-link{
    text-decoration: none;
    color: inherit;
}
.title-right-room, .price-right-room{
    margin: 0;
    padding: 5px 5px 0 5px;
}
.info-right-room{
    padding-top: 10px;
}
.title-right-room{
   padding-right: 20px;
   padding-left: 20px;
   font-family: 'Raleway';
}
.price-right-room{
    padding: 10px 0px 0 20px;
    font-size: 14px;
}
.notation-img-right{
    margin: 40px 0 0 20px;
}
.frame-right:hover{
    transform: scale(1.015);
}
wcccwscc

                /*ACTIVITY*/   
                /*PHOTO1*/
.activity{
    margin-top: 50px;
}
.img-activity{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    margin-bottom: 20px;
}
.article-activity-1{
    width: 300px;
    min-width: 300px;
    border-radius: 2rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.288);
}
.article-activity-1:hover,.article-activity-2:hover,.article-activity-3:hover,.article-activity-4:hover,.article-activity-5:hover,.article-activity-6:hover{
    transform: scale(1.015);
}
.img-activity-1{
    height: 400px;
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    object-fit: cover;
}
.name-picture-1{
    font-weight: bold;
    padding: 15px 0 20px 20px;
}
.activity-link{
    text-decoration: none;
    color: inherit;
}
                    /*PHOTO2*/
#group-activity-img-2-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.article-activity-2{
    width: 300px;
    border-radius: 2rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.288);
}
.img-activity-2{
    height: 180px;
    width: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    object-fit: cover;
}
.name-picture-2{
    padding: 15px 0 20px 20px;
    font-weight: bold;
}


                    /*PHOTO3*/
.article-activity-3{
    width: 300px;
    border-radius: 2rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.288);
}
.img-activity-3{
    height: 120px;
    width: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    object-fit: cover;
}
.name-picture-3{
    padding: 15px 0 20px 20px;
    font-weight: bold;
}


/*PHOTO 4*/
.article-activity-4{
    width: 300px;
    min-width: 300px;
    border-radius: 2rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.288);
}
.img-activity-4{
    height: 400px;
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    object-fit: cover;
}
.name-picture-4{
    font-weight: bold;
    padding: 15px 0 20px 20px;
}
.activity-link{
    text-decoration: none;
    color: inherit;
}

/*PHOTO 5*/
#group-activity-img-5-6{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.article-activity-5{
    width: 300px;
    border-radius: 2rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.288);
}
.img-activity-5{
    height: 120px;
    width: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    object-fit: cover;
}
.name-picture-5{
    font-weight: bold;
    padding: 15px 0 20px 20px;
}
/*PHOTO 6*/
.article-activity-6{
    width: 300px;
    border-radius: 2rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.288);
}
.img-activity-6{
    height: 180px;
    width: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    object-fit: cover;
}
.name-picture-6{
    font-weight: bold;
    padding: 15px 0 20px 20px;
}



















                    /* RESPONSIVE UNDER 900PX */

@media screen and (max-width: 900px){
    .container{
        padding: 0 10px 0 10px;
    }
    .bloc-mid{
        display: block;
        width: 100%;
    }
    .left-box-grey{
        max-width: none;
        border-radius: 0;
        order: 2;
        background-color: white;
        padding: 0 10px 0 10px;
    }
    .frame-left{
        width: 100%;
    }
    .right-box{
        border-radius: 0;
        max-width: none;
        order: 1;
        margin-left: 0;
    }
}
    
                        /* RESPONSIVE UNDER 600PX */
@media screen and (max-width: 600px){
    .search{
        margin-top: 40px;
    }
    #search-div{
        margin-left: 10px;
    }
    .header{
        display: block;
    }
    
    .headerNav{
        position: relative;
    }
    .headerNavLink[data-active=true]::before{
        display: none;
    }
    .headerNavLink[data-active=false]::before{
        display: none;
    }
    .headerNavLink{
        margin: 0;
        width: 50%;
        text-align: center;
    }
    .headerSignup{
        position: absolute;
        top: -45px;
        right: -42px;
    }
    .headerNavLink:after{
        content: "";
        width: 110%;
        height: 3px;
        position: absolute;
        bottom: -10px;
        left: -10px;
        background: #F2F2F2;
    }
    .headerNavLink:hover:after{
        background: #0065FC;
    }

    .bloc-mid{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .groupeFiltres{
        flex-direction: column;
    }
    .searchFilter{
        margin-right: 0.5rem;
    }

                    /*BUTTON*/
    .button-title{
        display: none;
    }
    .search-button{
        border-radius: 1rem;
        padding: 17px 18px 16px 18px;
        margin-left: -20px;
    }
    .zone-saisie{
        width: 65%;
    }


}
    
    



