@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff'),
         url('fonts/Raleway-VariableFont_wght.ttf') format('ttf'),
         url('fonts/Raleway-Italic-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

body{
	margin: 0;
	font-family: 'ralewayregular';
}

                            /*HEADER*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 20px;
    max-width: 1440px;
}
.headerNavLink{
    margin-right: 50px;
}
.headerImg{
    width: 100px;
}
.headerNavLink::before{
    
}
.headerNavLink{
    text-decoration: none;
    color: inherit;
}
.headerNavLink[data-active=true]{
    color: #0065FC;
}
.headerNavLink:hover{
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 30px;
}
.headerSignup{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}

                            /*MAIN*/ /*SEARCH*/
                                /*SEARCH*/
.main{
    max-width: 1440px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.searchHeaderTitle{
    margin-bottom: 0.5rem;
}
.searchHeaderSubtitle{
    margin-top: 0;
}
.searchForm{
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}
.searchFormWrapIcon{
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}



