@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff'),
         url('fonts/Raleway-VariableFont_wght.ttf') format('ttf'),
         url('fonts/Raleway-Italic-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

body{
	margin: 0;
	font-family: 'ralewayregular';
}

                            /*HEADER*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 20px;
    max-width: 1440px;
}
.headerNavLink{
    margin-right: 50px;
}
.headerImg{
    width: 100px;
}
.headerNavLink::before{
    
}
.headerNavLink{
    text-decoration: none;
    color: inherit;
}
.headerNavLink[data-active=true]{
    color: #0065FC;
}
.headerNavLink:hover{
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 30px;
}
.headerSignup{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}

                            /*MAIN*/ /*SEARCH*/
                                /*SEARCH*/
.main{
    max-width: 1440px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#searchForm{
    margin: 0;
}
.searchHeaderTitle{
    margin-bottom: 0.5rem;
}
.searchHeaderSubtitle{
    margin-top: 0;
}
#searchForm .fas{
    padding-top: 17px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 18px;
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
}
.searchInput{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 2px;
    border-right: none;
    border-left: none;
    margin-left: -3px;
    border: none;
    font-size: 1rem;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    font-family: 'ralewayregular';
    font-weight: bold;
}
.searchButton{
    padding-top: 16px;
    padding-bottom: 17px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -7px;
    border-radius: 0 0.7rem 0.7rem 0;
    border: none;
    background: #0065FC;
    font-weight: bold;
    color: white;
    font-size: 1rem;
}

                        /*FILTRES*/

.searchFiltersGroup{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.searchFilterTitle{
    margin:  0 2rem 1rem 0;
    display: flex;
}
.searchFilter{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #D9D9D9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
}
.searchFilter:last-child{
    margin-right: 0;
}
.searchFilter:hover{
    background-color: #0065FC;
    transform: scale(1.015);
}
.Filters{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}
.IconFilters{
    color: #0065FC;
}
.searchFilterTitle{
    margin-top: 15px;
    padding-left: 10px;
}




